<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RNotice">
	
	<select id="selectAll" resultType="RNotice">
		select * from reactnotice order by reactnotice_idx desc
	</select>
	
	<!-- 
		${동적컬럼명} : 동적컬럼명에 사용가능
		#{jdbc의 바인드 변수 대체} : 컬럼명으로 사용할 수 없다
	 -->
	
	<select id="select" parameterType="int" resultType="RNotice">
		<![CDATA[
			select * from reactnotice where reactnotice_idx=#{reactnotice_idx}		
		]]>
	</select>
	
	<insert id="insert" parameterType="RNotice">
		insert into reactnotice(reactnotice_idx, title, writer, content)
		values(seq_reactnotice.nextval, #{title}, #{writer}, #{content})
	</insert>
	
	<update id="update" parameterType="RNotice">
		update reactnotice set title=#{title}, writer=#{writer}, content=#{content}
		where reactnotice_idx=#{reactnotice_idx}
	</update>
	
	<delete id="delete" parameterType="int">
		delete reactnotice where reactnotice_idx=#{reactnotice_idx}
	</delete>

</mapper>