<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dept">
	<!-- resultMap을 사용해야하는 경우
		1) 컬럼과 자바객체의 멤버변수가 일치하지 않는 경ㅇ우
		2) collection이나 assocation같은 조인을 처리할 경우
	 -->
	<resultMap id="deptMap" type="Dept">
		<id 			column="deptno" 	property="deptno"/>
		<result 		column="dname" 	property="dname"/>
		<result 		column="loc" 		property="loc"/>
		<collection  column="deptno"
			javaType="java.util.List"
			ofType="Emp"
			property="empList"
			select="Emp.selectByFkey"/>
	</resultMap>
	
	<!-- 공통 코드조각 -->
	<sql id="common">
	select deptno, dname, loc
	</sql>
	
	<!-- 부서 목록 모두 가져오기 -->
	<select id="selectAll" resultMap="deptMap">
		<include refid="common"/>
		from dept
	</select>
</mapper>